# Port number for the Express server
PORT=5000

# MongoDB Connection String URI (local database or MongoDB Atlas cloud connection)
MONGO_URI=mongodb://localhost:27017/jo-san-pizza

# JSON Web Token private secret key used for signing & authentication
JWT_SECRET=your_jwt_secret_key_here
